{% extends 'base.html' %}

{% block content %}
<h2 class="mt-2 text-center">Plant Monitor System - Digi Flora!</h2>
<p style="text-align:justify">Monitoring plant health is very important for their fast growth. In this busy world, people usually forget to water their plants which leads to bad growth and health of their plants. For ensuring complete development of plants it is necessary to develop proper surrounding conditions in which plants grow.Automatic plant monitoring system have recently attracted tremendous interest due to the potential application in emerging technology. More importantly, this technique have improved and may be used to enhance the performance of existing techniques or to develop and design new techniques for the growth of plants .This system will ensure that plants will be monitered without direct influence of people.</p>
<p style="text-align:justify">Automatic plant monitoring system have recently attracted tremendous interest due to the potential application in emerging technology. More importantly, this technique have improved and may be used to enhance the performance of existing techniques or to develop and design new techniques for the growth of plants .This system will ensure that plants will be monitered without direct influence of people.</p>

<h4 class="text-center" >Sensors Used:</h4>
<ul>
    <li>
        <p>Moisture Sensor : to sense moisture present in the soil.</p>
    </li>
    <li>
        <p>Humidity sensor DHT11: humidity of the surrounding</p>
    </li>
    <li>
        <p>Humidity sensor DHT11: temperature of the surroundings</p>
    </li>
    <li>
        <p>LDR sensor: Amount of Sunlight</p>
    </li>
</ul>

{% endblock %}