{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mt-2">About Us</h2>
<hr>

<h4>Developed, Designed and Tested By:</h4>
<ul>
    <li><a target="none" href="#">Deepu Kishore</a></li>
    <li><a target="none" href="https://www.linkedin.com/in/divyamydv/">Divyam Yadav</a></li>
    <li><a target="none" href="https://www.linkedin.com/in/rohanshingre/">Rohan Shingre</a></li>
    <li><a target="none" href="#">Santhosh Kumar M</a></li>
    <li><a target="none" href="https://www.linkedin.com/in/anonshubh/">Shubh Pathak</a></li>
</ul>

{% endblock %}
